<div class="nested-fields">
  <fieldset>
    <div class="form-group">
      <%= f.label :title  %>
      <%= f.text_area :title %>
    </div>
    <%= link_to_remove_association "remove tag", f %>
  </fieldset>
</div>
